footer {
    padding: 20px 0 5px;
    border-top: 1px solid #4153f18f;
    p {
        margin: 0;
        font-size: 14px;
        color: var(--c-text-blue);
        &.copyright span {
            font-weight: bold;
        }
        &.author span {
            color: var(--c-text-link);
            @include prefixer(transition, 0.3s);
            cursor: pointer;
            &:hover {
                color: #4153f18f;
            }
        }
    }
}
